<!-- Game Form -->
<mat-card>
  <form class="form" [formGroup]="gameForm">
    <div class="row">
      <div class="col">

        <!-- Name -->
        <mat-form-field>
          <input matInput type="text" placeholder="Name" formControlName="name">
        </mat-form-field>

        <!-- Genre-->
        <mat-form-field>
          <input matInput type="text" placeholder="Genre" formControlName="genre">
        </mat-form-field>

        <!-- Release Date -->
        <mat-form-field>
          <input matInput type="date" placeholder="Release Date" formControlName="release_date">
        </mat-form-field>

        <!-- Platforms-->
        <mat-form-field>
          <input matInput type="text" placeholder="Platforms" formControlName="platforms">
          <mat-hint>Split platforms with ,</mat-hint>
        </mat-form-field>

      </div>

      <div class="col">
        <!-- Original Cost-->
        <mat-form-field>
          <input matInput type="number" placeholder="Original Cost" formControlName="original_cost">
        </mat-form-field>

        <!-- Current Cost-->
        <mat-form-field>
          <input matInput type="number" placeholder="Current Cost" formControlName="current_cost">
        </mat-form-field>

        <!-- Publishers-->
        <mat-form-field>
          <input matInput type="text" placeholder="Publishers" formControlName="publishers">
          <mat-hint>Split publishers with ,</mat-hint>
        </mat-form-field>

        <!-- Developers-->
        <mat-form-field>
          <input matInput type="text" placeholder="Developers" formControlName="developers">
          <mat-hint>Split developers with ,</mat-hint>
        </mat-form-field>
      </div>

    </div>

    <br>

    <!-- Create Game Button-->
    <button mat-raised-button color="primary" type="submit" (click)="createGame()" [disabled]="!gameForm.valid" *ngIf="!gameId">Submit</button>

    <!-- Update Game Button-->
    <button mat-raised-button color="primary" type="submit" (click)="updateGame()" [disabled]="!gameForm.valid" *ngIf="gameId">Update</button>
  </form>
</mat-card>
