<div class="container">
    <h3>View Games</h3>
  <app-game-table></app-game-table>

  <br>

  <!-- Map reduce to get list of platforms -->
  List of platforms to choose from:
  <ul *ngFor="let platform of platforms">
    <li>{{platform}}</li>
  </ul>
</div>
