<div class="headerContainer">
  <h3>
    Game Database
  </h3>
  <button mat-raised-button color="primary" class="headerButton" routerLink="/creategame">Create Game</button>
  <button mat-raised-button color="primary" class="headerButton" routerLink="/viewgames">View Games</button>
  <button mat-raised-button color="primary" class="headerButton" routerLink="/gamesunder30">Games Under 30 Euro</button>
  <button mat-raised-button color="primary" class="headerButton" routerLink="/gamesover20off">Games over 20 euro off</button>
</div>
