<mat-form-field>
  <input matInput (click)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="gameCounter">
  <small>Total number of games: {{total_rows}}</small>
</div>

<mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8" align="center">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.doc.name}} </mat-cell>
  </ng-container>

  <!-- Genre Column -->
  <ng-container matColumnDef="genre">
    <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.doc.genre}} </mat-cell>
  </ng-container>

  <!-- Platforms Column -->
  <ng-container matColumnDef="platforms">
    <mat-header-cell *matHeaderCellDef> Platforms </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ng-container *ngFor="let platform of element.doc.platforms">
        {{platform}} <br>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- Developers Column -->
  <ng-container matColumnDef="developers">
    <mat-header-cell *matHeaderCellDef> Developers </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ng-container *ngFor="let developer of element.doc.developers">
        {{developer}} <br>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- Publishers Column -->
  <ng-container matColumnDef="publishers">
    <mat-header-cell *matHeaderCellDef> Publishers </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ng-container *ngFor="let publisher of element.doc.publishers">
        {{publisher}} <br>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- orginial Cost Column -->
  <ng-container matColumnDef="original_cost">
    <mat-header-cell *matHeaderCellDef> Original Cost </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.doc.original_cost | currency: '€'}} </mat-cell>
  </ng-container>

  <!-- Current Cost Column -->
  <ng-container matColumnDef="current_cost">
    <mat-header-cell *matHeaderCellDef> Current Cost </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.doc.current_cost | currency: '€'}} </mat-cell>
  </ng-container>

  <!-- Release Date Column -->
  <ng-container matColumnDef="release_date">
    <mat-header-cell *matHeaderCellDef> Release Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.doc.release_date}} </mat-cell>
  </ng-container>

  <!-- Update button-->
  <ng-container matColumnDef="update">
    <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" routerLink="/updategame/{{element.doc._id}}/{{element.doc._rev}}">Update</button>
    </mat-cell>
  </ng-container>

  <!-- Delete button-->
  <ng-container matColumnDef="remove">
    <mat-header-cell *matHeaderCellDef> Remove </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" (click)="removeGame(element.doc._id, element.doc._rev)">Remove</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
