<mat-form-field>
  <input matInput (click)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="gameCounter">
  <small>Total number of games: {{games.total_rows}}</small>
</div>

<mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8" align="center">
  <!-- Name Column -->
  <ng-container matColumnDef="key">
    <mat-header-cell *matHeaderCellDef> game </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
  </ng-container>

  <!-- Genre Column -->
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef> {{valueName}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.value | currency: '€'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>